html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  color: var(--color-font);
  background: var(--color-background);
}

@font-face {
  font-family: "InterMedium";
  src: url("./assets/fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}

#root {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 32px;
}

:root {
  font-family: "InterMedium", sans-serif;

  /* Base and Primary */
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-dark-300: #2C314D;
  --color-dark-400: #292F4C;
  --color-dark-500: #262B47;
  --color-dark-600: #1E233D;
  --color-dark-700: #171C33;
  --color-dark-800: #14192B;
  --color-dark-900: #121729;

  --color-cool-25: #FAFAFC;
  --color-cool-50: #F7F8FA;
  --color-cool-100: #EFF1F5;
  --color-cool-200: #DCDFEA;
  --color-cool-300: #B9BFD4;
  --color-cool-350: #9AA3C1;
  --color-cool-400: #7C87AD;
  --color-cool-500: #5B6894;
  --color-cool-600: #4E5A80;
  --color-cool-700: #404B70;
  --color-cool-800: #30374F;
  --color-cool-900: #111322;


  --color-yellow-400: #FAC515;
  --color-yellow-900: #713B12;
}

body[data-theme='light'] {
  --color-font: var(--color-cool-500);
  --color-background: var(--color-cool-50);
  --color-background-alt: var(--color-white);
  --color-divider: var(--color-cool-300);
  --color-caret: var(--color-yellow-900);
  --color-even: var(--color-white);
  --color-odd: var(--color-cool-25);
  /*--color-border: var(--color-cool-200);*/
}

body[data-theme='dark'] {
  --color-font: var(--color-cool-300);
  --color-background: var(--color-dark-900);
  --color-background-alt: var(--color-dark-600);
  --color-divider: var(--color-cool-600);
  --color-caret: var(--color-yellow-400);
  --color-even: var(--color-dark-600);
  --color-odd: var(--color-dark-700);
  /*--color-border: var();*/
}
